<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/promocao">
            <div>
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" placeholder="Ex.: Promoção relâmpago de natal!">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" id="descricao" placeholder="Ex.: Compre 3 livros e pague 2">
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>